#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: #f7e9dc;
  font-size: 50px;
}

input{
  border: transparent;
  border-radius: 4px;
  background-color: #d6b57d;
  color: #7e4700;
  height: 30px;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./assets/fundo.gif);
  background-size: cover;
  background-repeat: no-repeat;

}


button {
  background-color: #D9C8A9;
  border-radius: 10px;
  border: 1px solid ;
  border-color: #BF9D7E  ;
  padding: 0.6em 1.9em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 1s;
  transition: background-color 1s;
  border-width: 10px;
  color:#88715b;

}
button:hover {
  border-color: #bbac90;
  background-color: #ad8f72;
}

li{
  color:#d6b57d;
  position:sticky;
  font-family: inherit;
  font-size: 19px;
}

#buttonDifferent{
  border-width: 10px;
  padding: 0.3em 1em;

}